@import url('stem.css');
#Navbar {
  display: grid;
  grid: var(--hNavbar) / repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
  padding: 0 16px;
  top: 0;
  z-index: 100;
  position: sticky;
  position: -webkit-sticky;
  box-sizing: border-box;
}
#idNav_L {
  display: grid;
  grid: auto / max-content max-content;
  align-items: center;
  gap: 8px;
}
#NavIco_Wrap {
  display: grid;
  align-content: center;
  justify-content: center;
  width: var(--px40);
  height: var(--px40);
  border-radius: 4px;
}
#NavIco_Wrap:is(:hover, :focus, :active) {
  cursor: pointer;
  background-color: var(--Hover);
}
#NavIcon {
  height: 18px;
  width: 20px;
  background-color: var(--Gray_D);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 80 48' fill='rgb(112,112,112)' %3E%3Crect y='00' width='80' height='10' rx='2'/%3E%3Crect y='19' width='80' height='10' rx='2'/%3E%3Crect y='38' width='80' height='10' rx='2'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 80 48' fill='rgb(112,112,112)' %3E%3Crect y='00' width='80' height='10' rx='2'/%3E%3Crect y='19' width='80' height='10' rx='2'/%3E%3Crect y='38' width='80' height='10' rx='2'/%3E%3C/svg%3E");
}
.TtlWrp {
  display: grid;
  grid: max-content max-content / auto;
  gap: 2px;
  align-content: center;
  height: 100%;
}
#Title {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: clamp(1.25rem, 2vmin, 1.375rem);
  font-weight: 300;
  color: var(--Txt_Btn);
  cursor: pointer;
}
#Title:hover {
  color: var(--Blue);
}
#Subtitle {
  font-size: 14px;
  color: var(--Gray_D);
}
#idNav_R {
  grid: auto / auto auto;
  justify-content: right;
}
#Wrapper {
  display: grid;
  min-height: calc(100vh - var(--hNavbar));
  max-width: var(--wContent);
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}
#prmblKa {
  font-family: 'Noto Serif Kannada';
  font-weight: 400;
}
#prmblKa > *,
#prmblEn > * {
  margin-bottom: 24px;
}
#prmblEn div > p {
  margin-bottom: var(--px16);
}
.Shloka {
  display: grid;
  align-self: center;
  max-width: fit-content;
  padding: 16px 24px;
  margin-bottom: 32px;
  font-size: 18px;
  color: var(--Txt);
  color: var(--Violet);
  border-top: 1px solid var(--Gray_L);
  border-bottom: 1px solid var(--Gray_L);
}
#Panel {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
}
.LangCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 16px 24px;
  color: var(--Txt_Hdng) !important;
  background: var(--W);
  border-radius: 8px;
  border: 1px solid var(--Border);
}
.LangCard:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 68 / 24%), 0 1px 3px 1px rgb(60 64 68 / 16%);
}
.LangCard > div:first-child {
  font-size: 16px;
  color: var(--Blue);
  margin-bottom: 8px;
}
.LangCard > div:nth-child(2) {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--Gray);
}
:root {
  color: var(--Col);
  background: var(--BGCol);
}
:root #Navbar {
  background: var(--BGCol);
  border-bottom: var(--Line);
}
:root.Light {
  --BGCol: var(--W);
  --Col: var(--Txt);
}
:root.Dark {
  --BGCol: #18191a;
  --Col: #ccc;
}
:root.Dark #Navbar {
  background: var(--Txt);
  border-bottom: 1px solid #383939;
}
.active {
  background: var(--Blue);
}
@media only screen and (max-width: 428px) and (min-width: 320px) and (orientation: portrait) {
  #Sidebar,
  #Adbar {
    display: none;
  }
  #Wrapper {
    padding-left: var(--px24);
    padding-right: var(--px24);
    background: transparent;
  }
  #prmblEn div > p {
    margin-bottom: var(--px16);
    text-align: justify;
    text-justify: auto;
  }
}
