/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* media.css | Media Queries | 12/12/2022 | Sree   */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - Media Queries - - - - - - - - */

@media only screen and ( max-width: 428px ) and ( min-width: 320px ) and (orientation: portrait) {
  /* #Home, #Indic { grid-template: var(--hNvbr) 1fr / 1fr; } */
  /* #Indic #Wrapper { padding: 0px; } */
  /* #Indic #Wrapper { grid-column: 1; } */
  /* #Indic #Wrapper { margin: 24px; } */
  #Sidebar, #Adbar   { display: none; }
  /* html { font-size: 150%; } */
  /* work on the above font-sizes... */
  #Wrapper {
    padding-left: var(--px24);
    padding-right: var(--px24);
    background: transparent;
  }
  /* #prmblEn div > p {
    margin-bottom: var(--px16);
    text-align: justify;
    text-justify: auto;
  } */
}

/* @media (hover: hover) {
  button:hover {
      background-color: blue;
  }
} */