/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* navbar.css | Targets Navbar | 22/12/2022        */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url("~twigs.css");

:root {
  /* GLOBALS */
  --nbHeight:  71px;
  --nbTitle:   clamp( 15px, calc(14px + 1vw), 20px );
  --nbPadding: 0px 24px;
}

#Navbar {
    display: grid;
    grid: var(--nbHeight) / repeat( auto-fit, minmax(176px, 1fr) );
    /* gap: 8px; */
    padding: var(--nbPadding);
    top: 0;
    z-index: 100;
    position: sticky;
    position: -webkit-sticky;
    box-sizing: border-box;
    background: rgba(255,255,255,0.96);
    border-bottom: var(--Line);
}

#idNav_L {
  display: grid;
  grid: 1fr / max-content max-content;
  align-items: center;
  gap: 8px;
  color: var(--Txt_H);
}

#NavIco_Wrap {
  display: grid;
  align-content: center;
  justify-content: center;
  width: var(--px40);
  height: var(--px40);
  border-radius: 4px;
}

#NavIco_Wrap:is(:hover, :focus, :active) { cursor: pointer; background-color: var(--Hover); }

#NBTitle {
  font-family: var(--fEn);
  font-weight: 600;
  font-size: var(--nbTitle);
  color: var(--Txt_H);
  overflow-wrap: break-word;
  max-width: max-content;
}

#NBTitle:hover { cursor: pointer; color: var(--Blue_D); }

#Subtitle {
  font-size: 14px;
  color: var(--Gray_D);
}

#idNav_R {
  display: grid;
  grid: auto / auto auto auto auto auto;
  justify-content: right;
  align-items: center;
}

.btnLang {
  display: grid;
  align-items: center;
  --btnWxH: 32px;
  width:  var(--btnWxH);
  height: var(--btnWxH);
  font: var(--fEn);
  font-size: 18px;
  color: var(--Txt);
  background: var(--Hover);
  border-radius: 3px;
  border: none;
}
#idNav_R button:not(:first-child) { margin-left: 16px; }

.btnLang:not(.btnLangOn):hover {
  cursor: pointer;
  color: var(--Blue_D);
  background: var(--Blue_L);
  border: 1px solid var(--Blue_D);
}

.btnLangOn {
  color: #FFF;
  border: none;
  background: var(--Txt_H);
}
/* - - - - - - - - - - - - - - - - */

/* - - - - - - - - Media Queries - - - - - - - - */
@media only screen and (max-width: 428px) {
  #Navbar{
    grid: auto / repeat( auto-fit, minmax(184px, 1fr) );
    gap: 0px;
    padding: 16px;
  }

  #idNav_R button:not(:first-child) { margin-left: 8px; }
}
/* - - - - - - - - - - - - - - - - */