/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* navbar.css | Targets Navbar | 22/12/2022        */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url("~twigs.css");

:root { /* GLOBALS */
  /*
  0.5rem   = 8px
  1rem     = 16px | 1px = 0.0625rem 
  0.9375rem = 15px
  0.875rem = 14px
  1.25rem  = 20px
  1.5rem   = 24px
  002rem   = 32px
  */
  --nbHeight:  71px;
  --nbTitle: clamp( 0.938rem, calc(1rem + 0.25vw), 1.25rem );
  --nbPadding: 0px 24px;
  --NavAndTabbarBG: rgba(255,255,255,0.96);
}

#Navbar {
  display: grid;
  /* grid: var(--nbHeight) / repeat( auto-fit, minmax(176px, 1fr) ); */ /* Was very good but can't use now */
  gap: 0;
  padding: var(--nbPadding);
  top: 0;
  z-index: 100;
  position: sticky;
  position: -webkit-sticky;
  box-sizing: border-box;
  background: var(--NavAndTabbarBG);
  border-bottom: var(--Line);
}

#pgHome #Navbar {
  grid: var(--nbHeight) / repeat( 2, minmax(176px, 1fr) );
  /* gap: 8px; */
  background: var(--NavAndTabbarBG);
  border-bottom: var(--LineH);
}

#idNav_L {
  display: grid;
  align-items: center;
  overflow: hidden;
}

#pgGarlands #Navbar {
  /* grid: var(--nbHeight) / repeat( 2, minmax(176px, 1fr) ); */
  grid: var(--nbHeight) / repeat( 4, minmax(176px, 1fr) );
}

#pgGarlands #idNav_L {
  grid-column: 1 / span 1;
}
#pgGarlands #TabsWrap {
  grid-column: 2 / span 2;
}
#pgGarlands #idNav_R {
  grid-column: 4 / span 1;
}

#NavIco_Wrap {
  display: grid;
  align-content: center;
  justify-content: center;
  width: var(--px40);
  height: var(--px40);
  border-radius: 4px;
}

#NavIco_Wrap:is(:hover, :focus, :active) { cursor: pointer; background-color: var(--Hover); }

#NBTitle {
  font-family: var(--fEn);
  font-weight: 600;
  font-size: var(--nbTitle);
  overflow-wrap: break-word;
  max-width: max-content;
  /* color: var(--Txt_H); */
  /* color: var(--Purple); */
  color: var(--Primary);
}

#NBTitle:hover { cursor: pointer; color: var(--Blue_D); }

#Subtitle {
  font-size: 14px;
  color: var(--Gray_D);
}

#idNav_R {
  display: grid;
  grid: auto / auto auto auto auto auto;
  justify-content: right;
  align-items: center;
}

.btnLang {
  display: grid;
  align-items: center;
  --btnWxH: clamp( 1.5rem, calc(1rem + 2vw ), 2rem);
  width:  var(--btnWxH);
  height: var(--btnWxH);
  font: var(--fEn);
  --nbBtnTxt: clamp( 0.875rem, calc(0.8125rem + 0.25vw), 1.25rem );
  font-size: var(--nbBtnTxt); /* font-size: 18px; */
  color: var(--Txt);
  background: var(--Hover);
  border-radius: 3px;
  border: none;
}
#idNav_R button:not(:first-child) {
  margin-left: clamp( 1rem, calc(0.5rem + 1vw ), 1.5rem);
}

.btnLang:not(.btnLangOn):hover {
  cursor: pointer;
  color: var(--Blue_D);
  background: var(--Blue_L);
  border: 1px solid var(--Blue_D);
}

.btnLangOn {
  color: #FFF;
  border: none;
  background: var(--Txt_H);
}
/* - - - - - - - - - - - - - - - - */

/* - - - - - - - - Media Queries - - - - - - - - */
@media only screen and (max-width: 992px) and (min-width: 768px) { /* Tablet Landscape */
  #Navbar { grid: var(--nbHeight) / repeat(4, minmax(176px, 1fr)); }
  #pgGarlands #idNav_L { grid-row: 1; grid-column: 1/span 2; }
  #pgGarlands #TabsWrap { grid-row: 2; grid-column: 1/span 4; }
  #pgGarlands #idNav_R { grid-row: 1; grid-column: 3/span 2;
  }
}

/* @media only screen and (max-width: 767px) and (min-width: 600px){ */
  /* Tablets */
@media only screen and (max-width: 767px) and (min-width: 320px){ /* Tablets */
  #pgGarlands #Navbar { grid: var(--nbHeight)/repeat(4, 1fr); }
  #pgGarlands #idNav_L  { grid-row: 1; grid-column: 1/span 2; }
  #pgGarlands #TabsWrap { grid-row: 2; grid-column: 1/span 4; }
  #pgGarlands #idNav_R  { grid-row: 1; grid-column: 3/span 2; }
}

@media only screen and (max-width: 599px) and (min-width: 428px) {
  /* #pgGarlands #Navbar { grid: var(--nbHeight)/repeat(4, 1fr); }
  #pgGarlands #idNav_L  { grid-row: 1; grid-column: 1/span 2; }
  #pgGarlands #TabsWrap { grid-row: 2; grid-column: 1/span 4; }
  #pgGarlands #idNav_R  { grid-row: 1; grid-column: 3/span 2; } */

  #idNav_R button:not(:first-child) { margin-left: 8px; }
}

@media only screen and (max-width: 427px) and (min-width: 320px)  { /* small mobiles */
  /* #pgGarlands #Navbar { grid: var(--nbHeight)/repeat(4, 1fr); }
  #pgGarlands #idNav_L  { grid-row: 1; grid-column: 1/span 2; }
  #pgGarlands #TabsWrap { grid-row: 2; grid-column: 1/span 4; }
  #pgGarlands #idNav_R  { grid-row: 1; grid-column: 3/span 2; } */

  #idNav_R button:not(:first-child) { margin-left: 8px; }
}
/* - - - - - - - - - - - - - - - - */