/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* root.css | Core style defns | 12/12/2022 | Sree */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kannada:wght@300;400;500;600&family=Noto+Sans:wght@300;400;500;600;700&family=Noto+Serif+Kannada:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {

/* - - - - Colors - - - - */
--Primary: #085890;
--Orange:  #F07008;
--Purple:  #8040C0;
--Maroon:  #800000;
/* - - - - - - - - */
--Txt:     #283038;
--Button:  #333333;
--Txt_H:   #485060;
/* - - - - - - - - */
--Gray_D:  #484848;
--Gray:    #686868;
--Gray_M:  #8C8C8C;
--Gray_L:  #C0C0C0;
--Border_D:#C8C8C8;
--Border:  #DADCE0;
--Hover:   #F0F4F8;
--BG:      #ECEFF0;
--BG_L:    #F8F9FA;
/* - - - - - - - - */
--Blue_D:  #0268D8;
--Blue:    #0880F0;
--Blue_M:  #7DBEFB;
--Blue_L:  #E0EFFE;
/* - - - - - - - - */
--Green:   #609C30;
--Green_M: #80C040;
--Green_L: #E8F8E8;
/* - - - - - - - - */
--Red:     #D02010;
--Red_M:   #F8908C;
--Red_L:   #FFE0DC;
/* - - - - - - - - */

/* - - - - Typography - - - - */
    font-family: 'Roboto', 'Noto Sans', 'Noto Sans Kannada', sans-serif;
    font-display: fallback;
    font-size: 16px;
    line-height: 150%;
}

/* - - - - Global - - - - */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    line-height: 150%;
    color: var(--Txt);
}

html { scroll-behavior: smooth; }

a, a:hover, a:visited {
    color: var(--Blue);
    text-decoration: none;
}

::selection      { color: var(--White); background: var(--Orange); }
::-moz-selection { color: var(--White); background: var(--Orange); }