/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* search.css | Binds all styles | 27/12/2022 | Sree */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url("~twigs.css");
/* - - - - */

:root {

  --TabbarHeight: 48px;
  --icoSize: 20px;
  --SearchboxHeight: 48px;
  --SearchboxWidth: 640px;
}

.ctrSrch { /* Search container */
  display: grid;
  /* grid-template-columns: auto 4fr 1fr; */
  grid-template-columns: auto 4fr;

  width: var(--SearchboxWidth);
  height: var(--SearchboxHeight);
  margin: 0;
  place-self: center;
  border: 1px solid var(--Border_D);
  border-radius: 8px;
  overflow: hidden;
}

.ctrSrch:hover, .ctrSrch:focus-within {
  border: none;
  box-shadow: var(--shadowSrchBx);
}
.ctrSrch:focus-within .SrchIcon { fill: var(--Gray); }
.ctrSrch:focus-within .ClearSrch { visibility: visible; }
.ctrSrch:focus-within .Searchbox { grid-column: 1 / 3; }

.Searchbox {
  display: flex;
  flex: 100%;
  background-color: transparent;
  /* height: 100%; */
  /* font-family: 'Roboto', 'Noto Sans', sans-serif; */
  font-size: 16px;
  border: 0;
  outline:none;
  padding: 0 8px;
  /* background-color: aquamarine; */
}

.SrchIcon {
  display: grid;
  align-self: center;
  height: var(--icoSize); width: var(--icoSize);
  z-index:2;
  margin: 0 0 0 8px;
  fill: var(--Gray_L);
  /* https://editsvgcode.com/ */
}

.ClearSrch {
  display: grid;
  align-self: center;
  align-content: center;
  height: 100%;
  width: var(--icoSize);
  margin: 0 8px;
  /* padding: 0 8px; */
  fill: var(--Gray_L);
  border: 0;
  background: transparent;
  /* display: none; */
  /* visibility: hidden; */
  /* background-color: aquamarine; */
}

/* When blank */
.Searchbox:not(:valid) ~ .ClearSrch { display: none; }

.ClearSrch:hover {
  cursor: pointer;
  fill: var(--Gray);
}

.searchButton {
  border: 0;
  /* padding: 0.5rem; */
  border-radius: 0;
  /* grid-column: 4 / 4; */
  /* grid-row:1; */
  /* width: 1fr; */
  font-size: 15px;
  color: #FFF;;
  background: var(--Blue);
}
/* - - - - - - - - - - - - - - - - */

/* - - - - - - - - Media Queries - - - - - - - - */
@media only screen and ( max-width: 984px ) {}
/* - - - - */
@media only screen and ( max-width: 768px ) {
  :root {
    /* --SearchboxWidth: calc(100%-48); */
    /* --SearchboxWidth: 1fr; */
    --SearchboxMargin: 0 24px;
  }
  .ctrSrch {
    /* width: 100%; */
    margin: 0 24px;
    background-color: red;
  }
}
/* - - - - */
@media only screen and ( max-width: 428px ) and ( min-width: 319px ) and (orientation: portrait) {

  /* :root {
    --wSrchBx: 1fr;
  } */
}
/* - - - - - - - - - - - - - - - - */