/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* search.css | Searchbar styles | 27/12/2022      */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url("~twigs.css");

:root {
  --TabbarHeight: 48px;
  --icoSize: 20px;
  --SearchboxHeight: 48px;
  --SearchboxWidth: 640px;
}

.ctrSrch { /* Search container */

  /* grid-column: 3 / span 4; */

  display: grid;
  grid-template-columns: 4fr auto;
  /* place-content: center; */
  place-content: stretch;

  margin: 0 auto;
  max-width: var(--SearchboxWidth);
  height: var(--SearchboxHeight);

  /* margin: 0; */
  background: #FFF;
  border: 1px solid var(--Border_D);
  border-radius: 8px;
  overflow: hidden;
}

.ctrSrch:hover, .ctrSrch:focus-within {
  border: none;
  box-shadow: var(--shadowSrchBx);
}
.ctrSrch:focus-within .SrchIcon { fill: var(--Gray); }
.ctrSrch:focus-within .ClearSrch { visibility: visible; }

.Searchbox, .ClearSrch, .searchButton { background: transparent; }

.Searchbox {
  display: flex;
  flex: 100%;
  font-size: 16px;
  border: 0;
  outline:none;
  padding: 0 8px;
}

.ClearSrch {
  display: grid;
  align-self: center;
  align-content: center;
  height: 100%;
  width: var(--icoSize);
  margin: 0 8px;
  fill: var(--Gray_D);
  border: 0;
}

/* When blank, don't show X */
.Searchbox:not(:valid) ~ .ClearSrch { display: none; }

.Searchbox::placeholder { color: var(--Gray_L);}
.Searchbox::placeholder { color: rgba(0, 0, 0, 0.2);}

.searchButton {
  display: grid;
  border: 0;
  border-left: 1px solid var(--Border);
  width: var(--SearchboxHeight);
}

.ClearSrch:is(:active, :hover, :focus), .searchButton:is(:active, :hover, :focus) { cursor:pointer; }

.SrchIcon {
  align-self: center;
  justify-self: center;
  height: var(--icoSize);
  width: var(--icoSize);
  fill: var(--Gray_L);
  z-index:2;
  /* https://editsvgcode.com/ */
}

/* - - - - - - - - Media Queries - - - - - - - - */
@media only screen and ( max-width: 984px ) {}
/* - - - - */
@media only screen and ( max-width: 768px ) {
  /* .ctrSrch { background-color: red !important; } */
}
/* - - - - */
@media only screen and ( max-width: 428px ) and ( min-width: 319px ) and (orientation: portrait) {}
/* - - - - - - - - - - - - - - - - */