/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* tabs.css | Tabs UI | 03/01/2023                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url("~twigs.css");

:root { --hTabbar: 48px; }

.Tabbar {
  display: grid;
  grid: var(--hTabbar) / repeat(auto-fit, minmax(128px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(200px,1fr);

  min-width: 100%;
  background: transparent;
  border-bottom: 1px solid var(--Border);

  overflow: hidden;
  -ms-overflow-style: none; scrollbar-width: none;
  overflow-x: scroll;
}
.Tabbar::-webkit-scrollbar { display: none; }

.aTab:not(.aTabOn).aTab:is( :hover, :focus, :active ) {
  cursor: pointer;
  color: var(--Blue_D);
  background: var(--Hover);
}

.Tabbar a {
  cursor: auto;
  border-bottom: 2px solid transparent;
}

.Tabbar a > * {
  display: grid;
  align-items: center;
  color: var(--Txt_H);
  font-weight: 500;
  text-align: center;
  height: 100%;
}

.aTabOn {
  border: none;
  color: var(--Txt);
  border-bottom: 2px solid var(--Blue_D) !important;
}

/* .aTab a div:after {
  display:block;
  content: '';
  border-bottom: 2px solid var(--Gray_L);
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.aTab a div:hover:after { transform: scaleX(1); } */


/* - - - - - - - - Media Queries - - - - - - - - */
@media only screen and (min-width: 600px) and (max-width: 992px) { /* Tablets */

}

@media only screen and (min-width: 375px) and (max-width: 599px) {
  .Tabbar {
    padding: 0 16px;
  }
}
/* - - - - - - - - - - - - - - - - */