/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* toast.css | Toast Styles | 31/12/2022           */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url("~twigs.css");
:root { --Btm: 8px; }

#idToast {
  visibility: hidden;
  min-width: max-content;
  max-width: 90%;
  /* Divide value of min-width by 2 */
  background-color: var(--Txt);
  color: #fff;
  justify-content: center;
  border-radius: 6px;
  padding: 16px;
  z-index: 1; /* Show on top */

  /* Center */
  left: 50%;
  position: fixed;
  transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);

  bottom: var(--Btm);
  font-family: var(--fEn);
  font-size: 14px;
  display: inline-flex;

  overflow-wrap: break-word;

}

#idToast.show {
  visibility: visible;
  /* Add animation */
  animation: fadein 0.25s, fadeout 0.5s 2.5s;
  -webkit-animation: fadein 0.25s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: var(--Btm); opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: var(--Btm); opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: var(--Btm); opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: var(--Btm); opacity: 1;}
  to {bottom: 0; opacity: 0;}
}