/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* twigs.css | Targeted styles | 12/12/2022 | Sree */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url("stem.css");
/* - - - - - - - - - - - - - - - - */

.active{
  background: var(--Blue);
}
/* - - - - - - - - - - - - - - - - */

/* - - - - COLOR THEMES - - - - */
:root { /* Default theme */
  color: var(--Col);
  background: var(--BGCol);
}
/* :root #Navbar {
  background: var(--BGCol);
  border-bottom: var(--Line);
} */
/* - - - - - - - -  */

:root.Light {
  --BGCol: var(--W);
  --Col: var(--Txt);
}
/* - - - - - - - - */

:root.Dark {
  --BGCol: #18191a;
  --Col: #CCC;
}

:root.Dark #Navbar {
  background: var(--Txt);
  border-bottom: 1px solid #383939;
}
/* - - - - - - - - - - - - - - - - */