/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* wrapper.css | Wrapper style | 12/12/2022        */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url("~twigs.css");

/* - - - - - - - - Wrapper styles for various pages - - - - - - - - */
#Wrapper {
  display: grid;
  grid-template-rows: max-content;
  /* grid-template-columns: repeat(auto-fit, minmax(192px, 1fr)); */
  /* gap: 24px; */
  max-width: var(--wContent);
  min-height: calc( 100vh - var(--nbHeight, 71px) );
  margin-left:  auto;
  margin-right: auto;
  /* overflow-y: scroll; */
  padding: 0;
}

#Content {
  height: max-content;
  padding: 40px 24px;
}

/* - - - - - - - - Media Queries - - - - - - - - */
@media only screen and (min-width: 600px) and (max-width: 992px) { /* Desktop/Tabs */
}

@media only screen and (min-width: 375px) and (max-width: 599px) { /* Smartphones */
  #Content { padding: 24px; }
}
/* - - - - - - - - - - - - - - - - */