/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* wrapper.css | Wrapper style | 12/12/2022        */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url("~twigs.css");

/* - - - - - - - - Wrapper styles for various pages - - - - - - - - */
#Wrapper {
  display: grid;
  gap: 24px;

  max-width: var(--wContent);
  min-height: calc( 100vh - var(--nbHeight, 71px) );
  margin-left:  auto;
  margin-right: auto;
  overflow-y: scroll;
  padding: 40px 0px;
}

#Catalog #Wrapper {
  /* grid: var(--TabbarHeight) var(--SearchboxHeight) auto auto / 1fr; */
  /* background: rgba(0, 0, 0, 0.04); */
  background: transparent;
}

#Content { height: max-content; padding: 24px; }

.Pack {
  padding: 24px 0;
  /* background-color: lightcyan; */
}

/* - - - - - - - - Media Queries - - - - - - - - */
@media only screen and (min-width: 600px) and (max-width: 992px) { /* Desktop/Tabs */
}

@media only screen and (min-width: 375px) and (max-width: 599px) { /* Smartphones */
  #Wrapper { padding: 24px; }
  #Content { padding: 0; }
}
/* - - - - - - - - - - - - - - - - */