/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* twigs.css | Targeted styles | 12/12/2022 | Sree */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

@import url("~stem.css");
/* - - - - - - - - - - - - - - - - */

:root {
  --BigTxt: clamp( 20px, calc(15px + 1vw), 24px );
  --MedTxt: clamp( 18px, calc(15px + 1vw), 20px );
  --IcoTxt: clamp( 16px, calc(15px + 1vw), 24px );
  --SmlTxt: clamp( 13px, calc( 13px + 1vw), 14px );
  /* SHADOWS */
  --shadowSrchBx: 0px 1px 2px rgba(48, 48, 48, 0.32), 0px 1px 3px 1px rgba(48, 48, 48, 0.16);
}
/* - - - - - - - - - - - - - - - - */

/* - - - - COLOR THEMES - - - - */
:root { /* Default theme */
  color: var(--Col);
  background: var(--BGCol);
}
/* - - - - - - - -  */

:root.Light {
  --BGCol: var(--W);
  --Col: var(--Txt);
}
/* - - - - - - - - */

:root.Dark {
  --BGCol: #18191a;
  --Col: #CCC;
}

:root.Dark #Navbar {
  background: var(--Txt);
  border-bottom: 1px solid #383939;
}
/* - - - - - - - - - - - - - - - - */

.Shloka {
  display: grid;
  align-self: center;
  margin: 24px auto;

  max-width: fit-content;
  padding: 16px 24px;

  font-size: 18px;
  color: var(--Maroon);

  border-top: 1px solid var(--Gray_L);
  border-bottom: 1px solid var(--Gray_L);
}
/* - - - - - - - - - - - - - - - - */